.check{
    display: flex;
    flex-direction: row;
    gap: 8px;
    width: 97%;
}
.checkbox{
    width: 15px;
}
input{
    align-self: stretch;
    border-radius: 8px;

}
.contenedor{
    height: 800px;
    padding: 30px;
}
p{
    margin: 5px;
}